@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo base para que el fondo no sea blanco puro si prefieres */
body {
  @apply bg-gray-100;
}
/* --- ESTILOS DEL ORGANIGRAMA --- */
.tree ul {
	padding-top: 20px; 
    position: relative;
	transition: all 0.5s;
	display: flex;
    justify-content: center;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
}

/* Líneas Verticales */
.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 2px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 2px solid #ccc;
}

/* Conectores */
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
.tree li:last-child::before{
	border-right: 2px solid #ccc;
	border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
}

/* Conector hacia abajo */
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid #ccc;
	width: 0; height: 20px;
}